<div class="card border-primary mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Clients list</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/clients/form']">New client</button>
    </div>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>NIF</th>
        <th>Email</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.id}}</td>
        <td>{{client.name}}</td>
        <td>{{client.surname}}</td>
        <td>{{client.nif}}</td>
        <td>{{client.email}}</td>
        <td>{{client.createAt}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
